<div class="p-6 h-screen flex flex-col">
  <header>
    <h1 class="text-3xl font-semibold text-center">Tic Tac Toe</h1>
  </header>

  <main class="mt-6">
    <GameBoard />
  </main>

  <footer class="mt-6 p-2 text-center">
    Made with ❤️ by <a href="https://twitter.com/barryofguilder" class="hover:text-purple-400">@barryofguilder</a>
  </footer>
</div>