<div class="h-screen bg-violet-800 font-sans text-gray-100 antialiased">
  <div class="flex flex-col bg-violet-800 p-3 md:p-6">
    <header>
      <h1 class="flex-grow text-center text-3xl font-semibold">Tic Tac Toe</h1>
    </header>

    <main class="mt-6 flex-grow">
      <GameBoard />
    </main>

    <footer class="mt-6 p-2 text-center">
      Made with ❤️ by
      <a href="https://twitter.com/barryofguilder" class="hover:text-violet-400">@barryofguilder</a>
    </footer>
  </div>
</div>