<div class="p-3 md:p-6 md:h-screen flex flex-col">
  <header>
    <h1 class="flex-grow text-3xl font-semibold text-center">Tic Tac Toe</h1>
  </header>

  <main class="mt-6 flex-grow">
    <GameBoard />
  </main>

  <footer class="mt-6 p-2 text-center">
    Made with ❤️ by <a href="https://twitter.com/barryofguilder" class="hover:text-violet-400">@barryofguilder</a>
  </footer>
</div>